<header>
    <!-- <img class="logo" src="/images/logo.svg" alt="logo"> -->
    <h1 class="logo">AOG</h1>

    <nav>
        <ul class="navlinks">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <a class="cta" href="/logsign"><button>Login/Signup</button></a>
</header>