<header>
    <img class="logo" src="/images/armor-of-God.svg" alt="logo" style="width:149px; height:auto">

    <nav>
        <ul class="navlinks">
            <% if (user == null) { %>
                <li><a href="/">Home</a></li>
            <% } else { %>
                <li><a href="/">Verses</a></li>
            <% } %>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <% if (user != null) { %>
                <li><a href="/logout">Logout</a></li>
            <% } %>
        </ul>
    </nav>
    <% if (user == null) { %>
        <a class="cta" href="/logsign"><button>Login/Signup</button></a>
    <% } %>
</header>