<header>
    <img class="logo" src="/images/armor-of-God.svg" alt="logo" style="width:149px; height:auto">

    <nav>
        <ul class="navlinks">
            <% if (user == null) { %>
                <li><a href="/">Home</a></li>
            <% } else { %>
                <li><a href="/">Verses</a></li>
            <% } %>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
            <% if (user != null) { %>
                <li><a href="/logout">Logout</a></li>
            <% } %>
        </ul>
    </nav>
    <% if (user == null) { %>
        <a class="cta" href="/logsign"><button>Login/Signup</button></a>
    <% } %>
    <p class="menu cta" id="menu">Menu</p>
</header>

<div id="mobile__menu" class="overlay">
    <a class="close">&times;</a>
    <div class="overlay__content">
        <% if (user == null) { %>
            <a href="/">Home</a>
        <% } else { %>
            <a href="/">Verses</a>
        <% } %>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
        <% if (user != null) { %>
            <a href="/logout">Logout</a>
        <% } %>
        <% if (user == null) { %>
            <a href="/logsign">Login/Signup</a>
        <% } %>
    </div>
</div>