<header>
    <!-- <img class="logo" src="/images/logo.svg" alt="logo"> -->
    <h1 class="logo">AOG</h1>

    <nav>
        <ul class="navlinks">
            <li><a href="#">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </nav>
    <a class="cta" href="#"><button>Login/Signup</button></a>
</header>