<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('partials/head') %>

        <title>Verses</title>
    </head>

    <body>
        <%- include('partials/navbar') %>

        <p>Verses</p>

        <script src="/scripts/navbar.js"></script>
    </body>
</html>