@import url('https://fonts.googleapis.com/css2?family=Shanti&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: #24252A; */
}

.ephesians {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.about {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.contact {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.contact a {
    font-family: "Roboto Slab", sans-serif;
    font-size: 25px;
}

#ephesians-verse, p {
    font-family: "Shanti", sans-serif;
}

#ephesians-source {
    font-family: "Roboto Slab", sans-serif;
}

li, a, button, h1 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    margin-right: auto;
    cursor: pointer;
}

.navlinks {
    list-style: none;
}

.navlinks li {
    display: inline-block;
    padding: 0px 20px;
    margin-top: 18px;
}

.navlinks li a {
    transition: all 0.3s ease 0s;
}

.navlinks li a:hover {
    color: #0088a9;
}

.cta button{
    margin-left: 20px;
    padding: 7px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.cta button:hover {
    background-color: rgba(0, 136, 169, 0.8);
}