@import url('https://fonts.googleapis.com/css2?family=Shanti&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.ephesians {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.about {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.contact {
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

.contact a {
    font-family: "Roboto Slab", sans-serif;
    font-size: 25px;
    color: #464646;
}

#ephesians-verse, p {
    font-family: "Shanti", sans-serif;
}

#ephesians-source {
    font-family: "Roboto Slab", sans-serif;
}

button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: black;
    text-decoration: none;
}