button {
    margin-left: 20px;
    padding: 7px 25px;
    background-color: rgba(213, 197, 180, 1);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}