<div class="modal fade" id="editVerse" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Edit Memory Verse</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">
                <form action="/verse?_method=PUT" method="POST">
                    <input style="display: none" value="<%= verse._id %>" name="verseId">
                    <input type="text" id="title" name="title" placeholder="New Title">
                    <br>
                    <input type="text" id="verse" name="verse" placeholder="Enter Bible Verse">
                    <br>
                    <textarea id="note" name="note" placeholder="Add Note"></textarea>
                    <button type="submit" id="submit">Submit</button>
                </form>
            </div>

        </div>
    </div>
</div>